[submodule "themes/hugo-bearblog"]
	path = themes/hugo-bearblog
	url = https://github.com/janraasch/hugo-bearblog.git
[submodule "static"]
	path = static
	url = git@github.com:JamieJQuinn/jamiejquinn.com-assets.git
