{{ define "main" }}
<content>
  <!-- {{ if .Data.Singular }} -->
  <!-- <h3 style="margin-bottom:0">Filtering for "{{ .Title }}"</h3> -->
  <!-- <small> -->
  <!--   <a href="{{ "blog" | relURL }}">Remove filter</a> -->
  <!-- </small> -->
  <!-- {{ end }} -->
  <ul class="blog-posts">
    {{ range .Pages }}
    <li>
      <div id="{{ .LinkTitle }}"></div>
<script>
var visualOptions = { responsive: 'resize' };
window.ABCJS.renderAbc("{{ .LinkTitle }}", '{{ .RawContent }}', visualOptions);
</script>
    </li>
    <!-- <li> -->
    <!--   <code>{{ .Param "abc" }}</code> -->
    <!-- </li> -->
    <br>
    {{ else }}
    <li>
      No tunes yet
    </li>
    {{ end }}
  </ul>
</content>

{{ end }}
